body{ 
			background-color: black;
			background-size: auto;
			border-radius: 25px;
  			color: 	rgb(250,215,180);		
	}
	body{
		background-color: black;

	}
	.card {
  float: right;
  border: 1px solid;
  padding: 20px;
  box-shadow: 5px 10px #999;
  max-width: 220px;
  margin top:20px;
  text-align: center;
  font-family: times new roman;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - bottom of the page */
.open-button {
  background-color:purple;
  color: white;
  font-weight: bolder;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 200px;
}
/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color:green;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

.form-container .faq {
  background-color: blue;
  color: white;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover , .form-container .faq:hover{
  opacity: 1;
}

.description {
  background-color: yellow;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
